---
# External Secrets Operator Installation & Configuration
# This file sets up the foundation for checking secrets from external providers

# 1. ClusterSecretStore
# Defines WHERE to fetch secrets from (AWS, GCP, Vault, etc.)
# Using 'Fake' provider for generic demonstration as requested
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: global-secret-store
spec:
  provider:
    fake:
      data:
      - key: "prod/video-conferencing/backend"
        version: "v1"
        data:
          JWT_SECRET: "Y2hhbmdlLW1lLXRvLWEtc2VjdXJlLXJhbmRvbS1zZWNyZXQ="
          AUTH0_CLIENT_SECRET: "eW91ci1hdXRoMC1jbGllbnQtc2VjcmV0"
          DATABASE_URL: "cG9zdGdyZXM6Ly91c2VyOnBhc3NAcG9zdGdyZXM6NTQzMi9kYm5hbWU="
      - key: "prod/video-conferencing/alertmanager"
        version: "v1"
        data:
          SLACK_WEBHOOK_URL: "aHR0cHM6Ly9ob29rcy5zbGFjay5jb20vc2VydmljZXMvWU9VUi9XRUJPSy9VUkw="
